SET NOCOUNT ON
SET QUOTED_IDENTIFIER OFF
GO

IF (OBJECT_ID('REP_ABC_ANALIZ_CHANGE_GROUP_OF_GOODS') IS NULL) EXEC ('CREATE PROCEDURE REP_ABC_ANALIZ_CHANGE_GROUP_OF_GOODS AS RETURN')
GO

ALTER PROCEDURE [DBO].[REP_ABC_ANALIZ_CHANGE_GROUP_OF_GOODS]
    @XMLPARAM NTEXT
AS
    DECLARE @ID_CONTRACTOR BIGINT
    
    DECLARE @DATE_FROM DATETIME
    DECLARE @DATE_TO DATETIME

    DECLARE @GROUPA INT
    DECLARE @GROUPB INT
    DECLARE @GROUPC INT
    DECLARE @GROUPD INT
    
    DECLARE @GROUPA_P MONEY
    DECLARE @GROUPB_P MONEY
    DECLARE @GROUPC_P MONEY
    DECLARE @GROUPD_P MONEY
    
    DECLARE @CHEQUE BIT
    DECLARE @INVOICE_OUT BIT
    DECLARE @MOVEMENT BIT
    DECLARE @RELOAD_GROUP BIT
    DECLARE @ALL_GOODS_GROUP BIT
    DECLARE @ALL_STORE BIT
    DECLARE @DAYS_PERIOD INT
   
    DECLARE @HDOC INT
    DECLARE @ID_USER BIGINT
    
    --DECLARE @ALL_GOODS BIT
 
    DECLARE @TOTAL_QTY_SUB MONEY
    DECLARE @TOTAL_RETAIL_SUM MONEY
    DECLARE @TOTAL_PRIBIL  MONEY
    DECLARE @TOTAL_CORRECTED_GROSS_INCOME MONEY
    DECLARE @GROUP MONEY
    DECLARE @DESCRIPT_PARAM VARCHAR(MAX)
    DECLARE @SAVE_ROW_HISTORY INT
	DECLARE @ROW_COUNT INT
	SET @SAVE_ROW_HISTORY = 30
	
    --EXEC ('DROP TABLE ABC_ANALIZ_HISTORY_PARAM')
    
    IF (OBJECT_ID('ABC_ANALIZ_HISTORY_PARAM') IS NULL)
    CREATE TABLE ABC_ANALIZ_HISTORY_PARAM(
        ID_USER BIGINT,
        DATE_START DATETIME, 
        DESCRIPT_PARAM NTEXT,
        XML_PARAM NTEXT,
        ROW_COUNT BIGINT,
        [USER_NAME] VARCHAR(200),
        COMMENT VARCHAR(100)
        )
        

    EXEC SP_XML_PREPAREDOCUMENT @HDOC OUT, @XMLPARAM

    SELECT
        @ID_CONTRACTOR = ID_CONTRACTOR,
        @DATE_FROM = DATE_FROM,
        @DATE_TO = DATE_TO,
        @GROUPA = GROUPA,
        @GROUPB = GROUPB,
        @GROUPC = GROUPC,
        @GROUPD = GROUPD,
        @CHEQUE = CHEQUE,
        @GROUPA_P = GROUPA_P,
        @GROUPB_P = GROUPB_P,
        @GROUPC_P = GROUPC_P,
        @GROUPD_P = GROUPD_P,
        @INVOICE_OUT = INVOICE_OUT,
        @MOVEMENT = MOVEMENT,
        @DESCRIPT_PARAM = DESCRIPT_PARAM,
        @ID_USER = ID_USER,
        @RELOAD_GROUP = RELOAD_GROUP
    FROM OPENXML(@HDOC, '//XML') WITH(
        ID_CONTRACTOR INT 'ID_CONTRACTOR',
        DATE_FROM DATETIME 'DATE_FROM',
        DATE_TO DATETIME 'DATE_TO',
        GROUPA INT 'GROUPA',
        GROUPB INT 'GROUPB',
        GROUPC INT 'GROUPC',
        GROUPD INT 'GROUPD',
        CHEQUE BIT 'CHEQUE',
        GROUPA_P MONEY 'GROUPA_P',
        GROUPB_P MONEY 'GROUPB_P',
        GROUPC_P MONEY 'GROUPC_P',
        GROUPD_P MONEY 'GROUPD_P',
        INVOICE_OUT BIT 'INVOICE_OUT',
        MOVEMENT BIT 'MOVEMENT',
        DESCRIPT_PARAM NTEXT 'DESCRIPT_PARAM',
        ID_USER BIGINT 'ID_USER',
        RELOAD_GROUP BIT 'RELOAD_GROUP'
    )
        --SELECT @DESCRIPT_PARAM
    --SELECT @GROUPA_P, @GROUPB_P, @GROUPC_P, @GROUPD_P
    SELECT ID_STORE
    INTO #STORE
    FROM OPENXML(@HDOC, '/XML/ID_STORE') WITH (
        ID_STORE VARCHAR(11) '.'
    )
    IF (@@ROWCOUNT=0)
        SET @ALL_STORE = 1
    ELSE    
        SET @ALL_STORE = 0
        
    SELECT CODE_OP
    INTO #OPERATION
    FROM (
			SELECT CODE_OP = CASE WHEN @CHEQUE=1 THEN 'CHEQUE' ELSE '' END
			UNION ALL 
			SELECT CODE_OP = CASE WHEN @INVOICE_OUT=1 THEN 'INVOICE_OUT' ELSE '' END
			UNION ALL 
			SELECT CODE_OP = CASE WHEN @MOVEMENT=1 THEN 'MOVE' ELSE '' END
		) T
      
      
     CREATE TABLE #GOODS_GROUP_EX(
        ID_GOODS BIGINT)
    
    SELECT ID_GOODS_GROUP
    INTO #GOODS_GROUP
    FROM OPENXML(@HDOC, '/XML/ID_GOODS_GROUP') WITH(
        ID_GOODS_GROUP BIGINT '.'
    )
    IF (@@ROWCOUNT<>0)
		BEGIN
			INSERT INTO #GOODS_GROUP_EX
			SELECT ID_GOODS
			FROM GOODS_2_GROUP G2G
			INNER JOIN GOODS_GROUP GG ON GG.ID_GOODS_GROUP = G2G.ID_GOODS_GROUP
			WHERE GG.ID_GOODS_GROUP IN (SELECT ID_GOODS_GROUP FROM #GOODS_GROUP)
		END
	ELSE
		SET @ALL_GOODS_GROUP = 1
        
        
        
        
    --SELECT* FROM #GOODS_GROUP_EX
        
    SELECT [GROUP],
			NORM,
			NORM_MIN,
			MAIN_GROUP
    INTO #NORMA_GOODS
    FROM OPENXML(@HDOC, '/XML/GROUPS_TABLE') WITH(
        [GROUP] VARCHAR(2) 'GROUP',
        NORM MONEY 'NORM',
        NORM_MIN MONEY 'NORM_MIN',
        MAIN_GROUP CHAR 'MAIN_GROUP'
	)
	
	
	EXEC USP_RANGE_DAYS @DATE_FROM OUTPUT , @DATE_TO OUTPUT
	
	SET @DAYS_PERIOD = CONVERT(MONEY,@DATE_TO) - CONVERT(MONEY,@DATE_FROM)

CREATE TABLE #ALL_NEW(
        ID_GOODS UNIQUEIDENTIFIER NOT NULL,
        GOODS_NAME VARCHAR(MAX),
        CODE VARCHAR(MAX),
        ID_GOODS_CLASSIFIER UNIQUEIDENTIFIER,
        GOODS_CLASSIFIER_NAME VARCHAR(MAX),
        ID_PRODUCER UNIQUEIDENTIFIER,
        PRODUCER_NAME VARCHAR(MAX),
        MIN_QTY MONEY,    
        QTY_SUB MONEY,
        SUPPLIER_SUM MONEY,
        RETAIL_SUM MONEY,
        REMAIN MONEY,
        LAST_PRICE MONEY, 
        LAST_PRICE_DATE DATETIME,
        ID_SUPPLIER UNIQUEIDENTIFIER,
        SUPPLIER_NAME VARCHAR(MAX),
        ON_THE_WAY MONEY,
        PRIBIL MONEY,
        ABC CHAR,
        AIM_PERCENT MONEY,
        TOTAL_AIM_PERCENT MONEY,
        DAYS_PERIOD INT,
        QTY_SUB_PER_DAY MONEY,
        RATE_OBOROT MONEY,
        ZAKAZAT MONEY,
        REMAIN_BEGIN MONEY,
        
        DEFECTURA MONEY,
        CORRECTED_GROSS_INCOME MONEY,
        SHARE_OF_SALES MONEY,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME MONEY,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME_ACCUMULATIVE MONEY,
        GROUP_BY_SUMM CHAR,
        GROUP_BY_SPEED CHAR,
        GROUP_LINK VARCHAR(2),
        GROUP_TOTAL CHAR,
        NORM_OF_STOCK MONEY,
        ORDER_THRESHOLD MONEY,
        Q_P MONEY,
        Q_MIN MONEY,
        Q_P_APPROXIMATE MONEY,
        Q_MIN_APPROXIMATE MONEY,
        ID_GOODS_INT BIGINT
    )

    CREATE TABLE #ALL(
        ID_GOODS UNIQUEIDENTIFIER NOT NULL,
        GOODS_NAME VARCHAR(MAX),
        CODE VARCHAR(MAX),
        ID_GOODS_CLASSIFIER UNIQUEIDENTIFIER,
        GOODS_CLASSIFIER_NAME VARCHAR(MAX),
        ID_PRODUCER UNIQUEIDENTIFIER,
        PRODUCER_NAME VARCHAR(MAX),
        MIN_QTY MONEY,    
        QTY_SUB MONEY,
        SUPPLIER_SUM MONEY,
        RETAIL_SUM MONEY,
        REMAIN MONEY,
        LAST_PRICE MONEY, 
        LAST_PRICE_DATE DATETIME,
        ID_SUPPLIER UNIQUEIDENTIFIER,
        SUPPLIER_NAME VARCHAR(MAX),
        ON_THE_WAY MONEY,
        PRIBIL MONEY,
        ABC CHAR,
        AIM_PERCENT MONEY,
        TOTAL_AIM_PERCENT MONEY,
        DAYS_PERIOD INT,
        QTY_SUB_PER_DAY MONEY,
        RATE_OBOROT MONEY,
        ZAKAZAT MONEY,
        REMAIN_BEGIN MONEY,
        
        DEFECTURA MONEY,
        CORRECTED_GROSS_INCOME MONEY,
        SHARE_OF_SALES MONEY,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME MONEY,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME_ACCUMULATIVE MONEY,
        GROUP_BY_SUMM CHAR,
        GROUP_BY_SPEED CHAR,
        GROUP_LINK VARCHAR(2),
        GROUP_TOTAL CHAR,
        NORM_OF_STOCK MONEY,
        ORDER_THRESHOLD MONEY,
        Q_P MONEY,
        Q_MIN MONEY,
        Q_P_APPROXIMATE MONEY,
        Q_MIN_APPROXIMATE MONEY
    )

--SELECT * FROM LOT_MOVEMENT
    INSERT INTO #ALL_NEW
    SELECT 
    --G.ID_GOODS_GLOBAL, ISNULL(GC.ID_GOODS_CLASSIFIER,'00000000-0000-0000-0000-000000000000'), P.ID_PRODUCER_GLOBAL,
        G.ID_GOODS_GLOBAL
        ,GOODS_NAME = MAX(G.NAME)
        ,CODE = MAX(G.CODE)
        ,ID_GOODS_CLASSIFIER = ISNULL(GC.ID_GOODS_CLASSIFIER,'00000000-0000-0000-0000-000000000000')
        ,GOODS_CLASSIFIER_NAME = MAX(ISNULL(GC.NAME,'Не связанные'))
        ,ID_PRODUCER = P.ID_PRODUCER_GLOBAL
        ,PRODUCER_NAME = MAX(P.NAME)
        ,MIN_QTY = MAX(G.QUANTITY_MIN)
        ,QTY_SUB = SUM(LM.QUANTITY_SUB * CONVERT(MONEY, SR.NUMERATOR) /SR.DENOMINATOR)
        ,SUPPLIER_SUM = SUM(LM.SUM_SUP)
        ,RETAIL_SUM = SUM(LM.SUM_ACC)
        ,REMAIN = 0--CONVERT(MONEY, NULL)
        ,LAST_PRICE = 0--CONVERT(MONEY, NULL)
        ,LAST_PRICE_DATE = MAX(LM.DATE_OP)--CONVERT(DATETIME, NULL)
        ,ID_SUPPLIER = NULL--CONVERT(UNIQUEIDENTIFIER, NULL)
        ,SUPPLIER_NAME = ''--CONVERT(VARCHAR(100), NULL)
        ,ON_THE_WAY = 0--CONVERT(MONEY, NULL)
        ,PRIBIL = ISNULL(SUM(LM.SUM_ACC),0) - ISNULL(SUM(LM.SUM_SUP),0)
        ,ABC = ''
        ,AIM_PERCENT = 0
        ,TOTAL_AIM_PERCENT = 0
        ,DAYS_PERIOD = @DAYS_PERIOD
        ,QTY_SUB_PER_DAY = SUM(LM.QUANTITY_SUB * CONVERT(MONEY, SR.NUMERATOR) /SR.DENOMINATOR)/@DAYS_PERIOD
        ,RATE_OBOROT = 0
        ,ZAKAZAT = 0
        ,REMAIN_BEGIN = 0
        
        ,DEFECTURA = 0,--?????????????????
        CORRECTED_GROSS_INCOME  = 0,
        SHARE_OF_SALES  = 0,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME  = 0,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME_ACCUMULATIVE  = 0,
        GROUP_BY_SUMM = NULL,
        GROUP_BY_SPEED = NULL,
        GROUP_LINK = NULL,
        GROUP_TOTAL = NULL,
        NORM_OF_STOCK   = 0,
        ORDER_THRESHOLD   = 0,
        Q_P   = 0,
        Q_MIN   = 0,
        Q_P_APPROXIMATE   = 0,
        Q_MIN_APPROXIMATE   = 0,
        ID_GOODS_INT = G.ID_GOODS
    FROM LOT_MOVEMENT LM
    INNER JOIN LOT L ON L.ID_LOT_GLOBAL = LM.ID_LOT_GLOBAL
    INNER JOIN STORE S ON S.ID_STORE = L.ID_STORE
    INNER JOIN GOODS G ON G.ID_GOODS = L.ID_GOODS
    INNER JOIN SCALING_RATIO SR ON SR.ID_SCALING_RATIO = L.ID_SCALING_RATIO
    INNER JOIN PRODUCER P ON P.ID_PRODUCER = G.ID_PRODUCER
    LEFT JOIN GOODS_CLASSIFIER_2_GOODS GC2G ON GC2G.ID_GOODS = G.ID_GOODS_GLOBAL
    LEFT JOIN GOODS_CLASSIFIER GC ON GC.ID_GOODS_CLASSIFIER = GC2G.ID_GOODS_CLASSIFIER
    WHERE CODE_OP IN (SELECT CODE_OP FROM #OPERATION)
    AND DATE_OP BETWEEN @DATE_FROM AND @DATE_TO
    AND ((@ALL_STORE=1 OR S.ID_STORE IN (SELECT ID_STORE FROM #STORE))OR (S.ID_CONTRACTOR = @ID_CONTRACTOR OR @ID_CONTRACTOR = 1))
    AND (@ALL_GOODS_GROUP = 1 OR G.ID_GOODS IN (SELECT GGX.ID_GOODS FROM #GOODS_GROUP_EX GGX))
--    AND (L.ID_STORE IN (SELECT ID_STORE FROM STORE WHERE ID_CONTRACTOR=@ID_CONTRACTOR))
    GROUP BY G.ID_GOODS_GLOBAL, ISNULL(GC.ID_GOODS_CLASSIFIER,'00000000-0000-0000-0000-000000000000'), P.ID_PRODUCER_GLOBAL,G.ID_GOODS

  
  
  
INSERT INTO #ALL
SELECT * FROM(
 SELECT 
		ID_GOODS
        ,GOODS_NAME 
        ,CODE 
        ,ID_GOODS_CLASSIFIER 
        ,GOODS_CLASSIFIER_NAME 
        ,ID_PRODUCER 
        ,PRODUCER_NAME 
        ,MIN_QTY 
        ,QTY_SUB 
        ,SUPPLIER_SUM 
        ,RETAIL_SUM
        ,REMAIN
        ,LAST_PRICE
        ,LAST_PRICE_DATE
        ,ID_SUPPLIER 
        ,SUPPLIER_NAME 
        ,ON_THE_WAY
        ,PRIBIL 
        ,ABC 
        ,AIM_PERCENT
        ,TOTAL_AIM_PERCENT
        ,DAYS_PERIOD 
        ,QTY_SUB_PER_DAY 
        ,RATE_OBOROT 
        ,ZAKAZAT 
        ,REMAIN_BEGIN 
        
        ,DEFECTURA = 0,
        CORRECTED_GROSS_INCOME  = 0,
        SHARE_OF_SALES  = 0,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME  = 0,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME_ACCUMULATIVE  = 0,
        GROUP_BY_SUMM = NULL,
        GROUP_BY_SPEED = NULL,
        GROUP_LINK = NULL,
        GROUP_TOTAL = NULL,
        NORM_OF_STOCK   = 0,
        ORDER_THRESHOLD   = 0,
        Q_P   = 0,
        Q_MIN   = 0,
        Q_P_APPROXIMATE   = 0,
        Q_MIN_APPROXIMATE   = 0
    FROM #ALL_NEW
    WHERE ID_GOODS_CLASSIFIER  = '00000000-0000-0000-0000-000000000000'
    UNION ALL
    SELECT 
		ID_GOODS = '00000000-0000-0000-0000-000000000000'
        ,GOODS_NAME =''
        ,CODE =''
        ,ID_GOODS_CLASSIFIER 
        ,GOODS_CLASSIFIER_NAME 
        ,ID_PRODUCER = '00000000-0000-0000-0000-000000000000'
        ,PRODUCER_NAME = ''
        ,MIN_QTY = NULL
        ,QTY_SUB = SUM(QTY_SUB)
        ,SUPPLIER_SUM = SUM(SUPPLIER_SUM)
        ,RETAIL_SUM =SUM(RETAIL_SUM)
        ,REMAIN = 0
        ,LAST_PRICE= 0
        ,LAST_PRICE_DATE= MAX(LAST_PRICE_DATE)
        ,ID_SUPPLIER = NULL
        ,SUPPLIER_NAME = NULL
        ,ON_THE_WAY= 0
        ,PRIBIL = SUM(PRIBIL)
        ,ABC = ''
        ,AIM_PERCENT= 0
        ,TOTAL_AIM_PERCENT= 0
        ,DAYS_PERIOD = MAX(DAYS_PERIOD)
        ,QTY_SUB_PER_DAY = SUM(QTY_SUB_PER_DAY)
        ,RATE_OBOROT = 0
        ,ZAKAZAT = 0
        ,REMAIN_BEGIN = 0
        ,DEFECTURA = 0,
        CORRECTED_GROSS_INCOME  = 0,
        SHARE_OF_SALES  = 0,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME  = 0,
        SHARE_OF_SALES_CORRECTED_GROSS_INCOME_ACCUMULATIVE  = 0,
        GROUP_BY_SUMM = NULL,
        GROUP_BY_SPEED = NULL,
        GROUP_LINK = NULL,
        GROUP_TOTAL = NULL,
        NORM_OF_STOCK   = 0,
        ORDER_THRESHOLD   = 0,
        Q_P   = 0,
        Q_MIN   = 0,
        Q_P_APPROXIMATE   = 0,
        Q_MIN_APPROXIMATE   = 0
    FROM #ALL_NEW
    WHERE ID_GOODS_CLASSIFIER  <> '00000000-0000-0000-0000-000000000000'
    GROUP BY ID_GOODS_CLASSIFIER,GOODS_CLASSIFIER_NAME 
    )T
   

    DELETE FROM #ALL
    WHERE ISNULL(QTY_SUB,0)=0 
    AND ISNULL(REMAIN,0)=0
    AND ID_GOODS_CLASSIFIER IS NOT NULL
    --AND ISNULL(@ALL_GOODS,0)=0
    
    

   
    SELECT @TOTAL_QTY_SUB = ISNULL(SUM(QTY_SUB),1), @TOTAL_RETAIL_SUM = ISNULL(SUM(RETAIL_SUM),1), @TOTAL_PRIBIL = ISNULL(SUM(PRIBIL),1)
    FROM #ALL
    


    IF (@TOTAL_QTY_SUB = 0) SET @TOTAL_QTY_SUB = 1
    IF (@TOTAL_RETAIL_SUM = 0) SET @TOTAL_RETAIL_SUM = 1
    IF (@TOTAL_PRIBIL = 0) SET @TOTAL_PRIBIL = 1

   UPDATE #ALL SET
	 DEFECTURA = DATEDIFF(DAY, LAST_PRICE_DATE, GETDATE()),
	GROUP_BY_SPEED = CASE WHEN QTY_SUB_PER_DAY >= @GROUPA_P THEN 'A' 
				WHEN QTY_SUB_PER_DAY < @GROUPA_P AND QTY_SUB_PER_DAY >= @GROUPB_P THEN 'B' 
				WHEN QTY_SUB_PER_DAY < @GROUPB_P AND QTY_SUB_PER_DAY >= @GROUPC_P THEN 'C' ELSE 'D' END --'A' --????????????????????

   UPDATE #ALL SET
		CORRECTED_GROSS_INCOME = RETAIL_SUM - SUPPLIER_SUM * ((@DAYS_PERIOD - DEFECTURA)/@DAYS_PERIOD)*0.037*(60/30),
		SHARE_OF_SALES = (QTY_SUB/@TOTAL_QTY_SUB)*100,
		AIM_PERCENT = (PRIBIL/@TOTAL_PRIBIL)*100,   
		RATE_OBOROT = CASE (REMAIN + REMAIN_BEGIN)
		 WHEN 0 THEN 1
		 ELSE QTY_SUB / ((REMAIN + REMAIN_BEGIN)/2.0)
		END,
		LAST_PRICE = CASE (QTY_SUB)
		 WHEN 0 THEN 1
		 ELSE  RETAIL_SUM / QTY_SUB
		END
     
     SELECT @TOTAL_CORRECTED_GROSS_INCOME = ISNULL(SUM(CORRECTED_GROSS_INCOME),1)
    FROM #ALL
    
    UPDATE #ALL SET
    SHARE_OF_SALES_CORRECTED_GROSS_INCOME = (CORRECTED_GROSS_INCOME/@TOTAL_CORRECTED_GROSS_INCOME)*100.0
    
--SELECT * FROM #NORMA_GOODS
     /*
SELECT * FROM #ALL
SELECT SUM(AIM_PERCENT) FROM #ALL
SELECT @TOTAL_QTY_SUB
SELECT @TOTAL_RETAIL_SUM
SELECT @TOTAL_PRIBIL


    DECLARE @GROUPA INT
    DECLARE @GROUPB INT
    DECLARE @GROUPC INT
    DECLARE @GROUPD INT
*/
DECLARE @NAME UNIQUEIDENTIFIER
DECLARE @PERCENT MONEY
SET @GROUP = 0

DECLARE ABC_CUR CURSOR 
FOR 
SELECT NAME = CASE WHEN ID_GOODS = '00000000-0000-0000-0000-000000000000' THEN ID_GOODS_CLASSIFIER ELSE ID_GOODS END, PERC = SHARE_OF_SALES_CORRECTED_GROSS_INCOME FROM #ALL ORDER BY SHARE_OF_SALES_CORRECTED_GROSS_INCOME DESC
OPEN ABC_CUR
FETCH NEXT FROM ABC_CUR INTO @NAME, @PERCENT
WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @GROUP = @GROUP + @PERCENT
		--SELECT @GROUP
		--SELECT @PERCENT
		UPDATE #ALL SET 
			SHARE_OF_SALES_CORRECTED_GROSS_INCOME_ACCUMULATIVE = @GROUP,
			GROUP_BY_SUMM = CASE WHEN @GROUP < @GROUPA THEN 'A' 
				WHEN @GROUP BETWEEN @GROUPA AND @GROUPA + @GROUPB THEN 'B' 
				WHEN @GROUP BETWEEN @GROUPA + @GROUPB AND @GROUPA + @GROUPB + @GROUPC THEN 'C' ELSE 'D' END
			
		WHERE #ALL.ID_GOODS = @NAME OR #ALL.ID_GOODS_CLASSIFIER = @NAME
		FETCH NEXT FROM ABC_CUR INTO @NAME, @PERCENT
	END
CLOSE ABC_CUR
DEALLOCATE ABC_CUR


UPDATE #ALL SET
	GROUP_LINK = GROUP_BY_SUMM + GROUP_BY_SPEED,
	GROUP_TOTAL = CASE WHEN GOODS_CLASSIFIER_NAME='Не связанные' AND ID_GOODS_CLASSIFIER = '00000000-0000-0000-0000-000000000000' THEN '' ELSE
						CASE WHEN CORRECTED_GROSS_INCOME>0 THEN ISNULL(R.MAIN_GROUP,'X') END
					END,
	NORM_OF_STOCK = R.NORM,
	ORDER_THRESHOLD = R.NORM_MIN,
	Q_P = CASE WHEN ISNULL(R.NORM,0)=0 OR ROUND(QTY_SUB_PER_DAY * R.NORM,0)<1 THEN 1 ELSE ROUND(QTY_SUB_PER_DAY * R.NORM,0) END,
	Q_MIN = CASE WHEN ISNULL(R.NORM_MIN,0)=0 OR ROUND(QTY_SUB_PER_DAY * R.NORM_MIN,0)<1 THEN 1 ELSE ROUND(QTY_SUB_PER_DAY * R.NORM_MIN,0) END
FROM #ALL A
    LEFT JOIN (
				SELECT 
                   MAIN_GROUP,
                   [GROUP],
                   NORM,
                   NORM_MIN   
                FROM #NORMA_GOODS
                ) R ON R.[GROUP]=(A.GROUP_BY_SUMM + A.GROUP_BY_SPEED)


UPDATE #ALL SET
Q_P_APPROXIMATE = CASE WHEN (Q_P <= 10) THEN Q_P ELSE 
						CASE WHEN (Q_P > 10) AND (Q_P <= 20) THEN ROUND(Q_P/2.,0)*2 ELSE
							CASE WHEN (Q_P>20) AND (Q_P<=50) THEN ROUND(Q_P/5.,0)*5 ELSE
								CASE WHEN (Q_P>50) THEN ROUND(Q_P/10.,0)*10 
								END
							END
						END
					END,
Q_MIN_APPROXIMATE =CASE WHEN (Q_MIN <= 10) THEN Q_MIN ELSE 
						CASE WHEN (Q_MIN > 10) AND (Q_MIN <= 20) THEN ROUND(Q_MIN/2.,0)*2 ELSE
							CASE WHEN (Q_MIN>20) AND (Q_MIN<=50) THEN ROUND(Q_MIN/5.,0)*5 ELSE
								CASE WHEN (Q_MIN>50) THEN ROUND(Q_MIN/10.,0)*10 
								END
							END
						END
					END


UPDATE #ALL_NEW SET
	GROUP_BY_SUMM = R.GROUP_BY_SUMM
FROM #ALL_NEW A
    LEFT JOIN (
				SELECT 
                   GROUP_BY_SUMM,
                   ID_GOODS,-- = '00000000-0000-0000-0000-000000000000'
                   ID_GOODS_CLASSIFIER
                FROM #ALL
                ) R ON (R.ID_GOODS_CLASSIFIER = A.ID_GOODS_CLASSIFIER AND R.ID_GOODS = '00000000-0000-0000-0000-000000000000') 
						OR (R.ID_GOODS = A.ID_GOODS AND R.ID_GOODS<>'00000000-0000-0000-0000-000000000000')
--SELECT * FROM #ALL_NEW


---------------------------------------------------------------------------------------------------------------
--select * from ABC_ANALIZ_HISTORY_PARAM 
INSERT INTO ABC_ANALIZ_HISTORY_PARAM
    SELECT
        ID_USER = @ID_USER
        ,DATE_START = GETDATE()
        ,DESCRIPT_PARAM = @DESCRIPT_PARAM
        ,XML_PARAM =@XMLPARAM
        ,ROW_COUNT = (SELECT COUNT(*) FROM #ALL)
        ,[USER_NAME] = (SELECT NAME FROM [META_USER] WHERE [USER_NUM] = @ID_USER)
        ,COMMENT = CASE WHEN @RELOAD_GROUP = 1 THEN 'Группы переформировывались' ELSE 'Группы НЕ переформировывались' END
        
SET @ROW_COUNT = (SELECT COUNT(*)FROM ABC_ANALIZ_HISTORY_PARAM)   
 
DELETE FROM ABC_ANALIZ_HISTORY_PARAM
WHERE DATE_START IN (
						SELECT  TOP (CASE WHEN (@ROW_COUNT-@SAVE_ROW_HISTORY)<=0 THEN 0 ELSE (@ROW_COUNT-@SAVE_ROW_HISTORY) END) DATE_START 
						FROM ABC_ANALIZ_HISTORY_PARAM 
						ORDER BY DATE_START ASC
					)
-----------------------------------------------------------------------------------------------------------------	
IF (@RELOAD_GROUP = 1)					
	BEGIN
		DECLARE @EXA BIT, @EXB BIT, @EXC BIT, @EXD BIT
		DECLARE @ID_GROUP_ROOT BIGINT
		SET @ID_GROUP_ROOT = (SELECT MIN(ID_GOODS_GROUP) FROM GOODS_GROUP WHERE DATE_DELETED IS NULL)



		SELECT 
			@EXA = CASE WHEN NAME = 'A' OR @EXA = 1 THEN 1 END,
			@EXB = CASE WHEN NAME = 'B' OR @EXB = 1 THEN 1 END,
			@EXC = CASE WHEN NAME = 'C' OR @EXC = 1 THEN 1 END,
			@EXD = CASE WHEN NAME = 'D' OR @EXD = 1 THEN 1 END	
			--select * 
		FROM GOODS_GROUP
		WHERE DATE_DELETED IS NULL						

		--SELECT 	 @EXA	,@EXB 		,@EXC		,@EXD

		IF (ISNULL(@EXA,0)=0)
		BEGIN
		INSERT INTO GOODS_GROUP
			(ID_PARENT_GROUP,NAME,ID_GOODS_GROUP_GLOBAL)
			VALUES
			(@ID_GROUP_ROOT, 'A', NEWID())
		END
		IF (ISNULL(@EXB,0)=0)
		BEGIN
		INSERT INTO GOODS_GROUP
			(ID_PARENT_GROUP,NAME,ID_GOODS_GROUP_GLOBAL)
			VALUES
			(@ID_GROUP_ROOT, 'B', NEWID())
		END
		IF (ISNULL(@EXC,0)=0)
		BEGIN
		INSERT INTO GOODS_GROUP
			(ID_PARENT_GROUP,NAME,ID_GOODS_GROUP_GLOBAL)
			VALUES
			(@ID_GROUP_ROOT, 'C', NEWID())
		END
		IF (ISNULL(@EXD,0)=0)
		BEGIN
		INSERT INTO GOODS_GROUP
			(ID_PARENT_GROUP,NAME,ID_GOODS_GROUP_GLOBAL)
			VALUES
			(@ID_GROUP_ROOT, 'D', NEWID())
		END
		-------------------------------------------------------------------------------------------------------------
		DECLARE @ID_GOODS_GROUP_A BIGINT, @ID_GOODS_GROUP_B BIGINT, @ID_GOODS_GROUP_C BIGINT, @ID_GOODS_GROUP_D BIGINT
		
		SELECT 
			@ID_GOODS_GROUP_A = CASE WHEN NAME = 'A'  THEN ID_GOODS_GROUP ELSE @ID_GOODS_GROUP_A END,
			@ID_GOODS_GROUP_B = CASE WHEN NAME = 'B'  THEN ID_GOODS_GROUP ELSE @ID_GOODS_GROUP_B END,
			@ID_GOODS_GROUP_C = CASE WHEN NAME = 'C'  THEN ID_GOODS_GROUP ELSE @ID_GOODS_GROUP_C END,
			@ID_GOODS_GROUP_D = CASE WHEN NAME = 'D'  THEN ID_GOODS_GROUP ELSE @ID_GOODS_GROUP_D END
			--SELECT *	
		FROM GOODS_GROUP
		WHERE DATE_DELETED IS NULL
		 
		  DELETE FROM GOODS_2_GROUP
		  WHERE ID_GOODS_GROUP IN(@ID_GOODS_GROUP_A , @ID_GOODS_GROUP_B , @ID_GOODS_GROUP_C , @ID_GOODS_GROUP_D)

		  INSERT INTO GOODS_2_GROUP
			(ID_GOODS_GROUP,ID_GOODS)
			SELECT @ID_GOODS_GROUP_A, ID_GOODS_INT FROM #ALL_NEW WHERE GROUP_BY_SUMM ='A'
			UNION ALL
			SELECT @ID_GOODS_GROUP_B, ID_GOODS_INT FROM #ALL_NEW WHERE GROUP_BY_SUMM ='B'
			UNION ALL
			SELECT @ID_GOODS_GROUP_C, ID_GOODS_INT FROM #ALL_NEW WHERE GROUP_BY_SUMM ='C'
			UNION ALL
			SELECT @ID_GOODS_GROUP_D, ID_GOODS_INT FROM #ALL_NEW WHERE GROUP_BY_SUMM ='D'
		-----------------------------------------------------------------------------------------------------------------	
	END					
--SELECT * FROM ABC_ANALIZ_HISTORY_PARAM
SELECT 
	GOODS_CLASSIFIER_NAME
	,GOODS_NAME
	,SUPPLIER_SUM	
	,DEFECTURA	
	,RETAIL_SUM	
	,CORRECTED_GROSS_INCOME	
	,QTY_SUB	
	,SHARE_OF_SALES	
	,QTY_SUB_PER_DAY	
	,SHARE_OF_SALES_CORRECTED_GROSS_INCOME	
	,SHARE_OF_SALES_CORRECTED_GROSS_INCOME_ACCUMULATIVE	
	,GROUP_BY_SUMM	
	,GROUP_BY_SPEED	
	,GROUP_LINK	
	,GROUP_TOTAL	
	,NORM_OF_STOCK	
	,ORDER_THRESHOLD	
	,Q_P	
	,Q_MIN	
	,Q_P_APPROXIMATE	
	,Q_MIN_APPROXIMATE
FROM #ALL ORDER BY SHARE_OF_SALES_CORRECTED_GROSS_INCOME DESC
   
RETURN 0
GO
/*

EXEC REP_ABC_ANALIZ_CHANGE_GROUP_OF_GOODS N'<XML>
<DATE_FROM>2011-05-13T17:47:39.455</DATE_FROM>
<DATE_TO>2011-11-13T17:47:39.455</DATE_TO>
<GROUPA>79</GROUPA>
<GROUPB>15</GROUPB>
<GROUPC>5</GROUPC>
<GROUPD>1</GROUPD>

<GROUPA_P>0.1</GROUPA_P>
<GROUPB_P>0.05</GROUPB_P>
<GROUPC_P>0.025</GROUPC_P>
<GROUPD_P>0.0125</GROUPD_P>
<ID_CONTRACTOR>6016</ID_CONTRACTOR>
<CHEQUE>1</CHEQUE>
<INVOICE_OUT>1</INVOICE_OUT>
<MOVEMENT>1</MOVEMENT>
<ID_STORE>161</ID_STORE>
<ID_USER>2</ID_USER>
<RELOAD_GROUP>1</RELOAD_GROUP>
<DESCRIPT_PARAM>
fgfjhg
</DESCRIPT_PARAM>

<GROUPS_TABLE><GROUP>AA</GROUP><NORM>14</NORM><NORM_MIN>7</NORM_MIN><MAIN_GROUP>A</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>AB</GROUP><NORM>10</NORM><NORM_MIN>7</NORM_MIN><MAIN_GROUP>A</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>BA</GROUP><NORM>12</NORM><NORM_MIN>7</NORM_MIN><MAIN_GROUP>A</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>BB</GROUP><NORM>7</NORM><NORM_MIN>10000</NORM_MIN><MAIN_GROUP>D</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>CB</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>B</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>BC</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>B</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>CA</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>B</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>AC</GROUP><NORM>10</NORM><NORM_MIN>7</NORM_MIN><MAIN_GROUP>B</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>AD</GROUP><NORM>10</NORM><NORM_MIN>7</NORM_MIN><MAIN_GROUP>B</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>CC</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>C</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>CD</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>C</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>DC</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>C</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>BD</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>C</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>DA</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>C</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>DB</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>C</MAIN_GROUP></GROUPS_TABLE><GROUPS_TABLE><GROUP>DD</GROUP><NORM>7</NORM><NORM_MIN>3</NORM_MIN><MAIN_GROUP>D</MAIN_GROUP></GROUPS_TABLE></XML>'

*/
