<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConfigFile" value="..\..\..\..\..\BinLibrary\efarma_plus.xml">
    </add>
    <add key="SecurityContextType" value="ePlus.MetaData.Security.SqlSecurityContext,ePlus.MetaData.Security" />
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=eplus_work_2007_11_09;Integrated Security=SSPI" />
    <!-- Порт для сканера штрих-кодов, например: COM1 -->
    <add key="ScanerComPort" value="" />
    <!--Имена файлов шаблонов для ценников и этикeток-->
    <!--перенесены в системные константы-->
    <!--<add key="PriceTemplateFileName" value="PriceTemplate.xml"/>-->
    <!--<add key="LabelTemplateFileName" value="LabelTemplate.xml"/>-->
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="MyListener" initializeData="eplus.log" type="System.Diagnostics.TextWriterTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>